
.content {
  background-color: white;
  border-radius: 20px;
  padding: 30px 0;
}

.content h2 {
  font-size: 22px;
  font-weight: 600;
}


.content__name-buttons {
  padding: 0 30px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.content__name-buttons--buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #7E7E7E;
  font-size: 12px;
}

.content__name-buttons--buttons a{
  padding-left: 10px;
}

.content__name-buttons--buttons button {
  background-color: #F9FBFF;
  width: 30px;
  border: none;
  border-radius: 5px;
  margin: 0 5px;
}

.content__fields {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  color: #B5B7C0;
  font-size: 14px;
}

.content__fields--field-sku {
  width: 33.3%;
  text-align: left;
} 

.content__fields--field-name {
  width: 33.3%;
  text-align: center;
}

.content__fields--field-price {
  width: 33.3%;
  text-align: right;
} 

.content__products {
  border-top: 1px solid #EEEEEE;
  padding: 0 15px 0 30px;
  height: calc(100vh - 400px);
  overflow-y: auto;

}

.content__products--fields {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #EEEEEE;
  margin-bottom: 10px;
  font-size: 14px;
}

.content__products--fields-field-sku {
  width: 33.3%;
  text-align: left;
} 

.content__products--fields-field-name {
  width: 33.3%;
  text-align: center;
}

.content__products--fields-field-price {
  width: 33.3%;
  text-align: right;
} 

.content__paginator-content {
  padding: 0 30px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #B5B7C0;
}

.content__paginator-content--buttons{
  display: flex;
  align-items: center;
}

.content__paginator-content--buttons button {
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 5px;
  margin: 0 5px;
}